
/.idea/
/DesignPatterns/bin/
/DesignPatterns/obj/
/DesignPatternsTests/bin/
/DesignPatternsTests/obj/
/BuildPatterns/bin/
/BuildPatterns/obj/
/PatternTests/bin/
/PatternTests/obj/
ReaderLogFilesByPatterns/obj/Debug/netcoreapp3.1/ReaderLogFilesByPatterns.csprojAssemblyReference.cache
/.vscode/
