
/.idea/
/.vscode/
/DesignPatterns/bin/
/DesignPatterns/obj/
/DesignPatternsTests/bin/
/DesignPatternsTests/obj/
/BuildPatterns/bin/
/BuildPatterns/obj/
/PatternTests/bin/
/PatternTests/obj/
/ReaderLogFilesByPatterns/obj/
/ReaderLogFilesByPatterns/bin/
/ReaderLogFiles.Tests/obj/
/ReaderLogFiles.Tests/bin/
